@model List<string>

<section class="images">
    <div class="container">
        <div class="row ">
            @for (var i = 0; i < @Model.Count; i++)
            {
                <div class="col-sm-4 col-md-2">
                    <figure>
                        <img id="image" src="data:image/jpg;base64,@Model.ElementAt(i)"  alt="Hmm" />
                        <input class="mt-2" type="button" onclick="Remove(@i)" value="Usuń obrazek" />
                    </figure>

                </div>
            }

        </div>
     </div>

</section>



