/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
    padding: 10px 0;
}

.thumbnail {
    height: 200px;
    width: 200px;
    padding: 10px 0;
    margin-right: 10px;
}

.loadfile{
    display: inline-block;
}

/* Modal
-------------------------------------------------- */




/* Modal Content */

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The Modal (background) */


.modal {
    display: none;
    position: center;
    padding-top: 10px;
    margin-top:50px;
    width: 35%;
    height: 50%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 350px;
    height: 350px;
    
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #303030;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.hide {
    height: 30px;
    width: 200px;
}

    .hide > button {
        display: none;
    }

    .hide:hover > button {
        display: inline;
    }

    .images {

       
        text-align: center;
       padding: 0px;
    }
    .image{

        display: inline-block;
       
    }

    .images img{
        width: 100%;
        height: auto;
        padding: 2px;
    }